body {
    background-image: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    color: #000;
    text-align: center;
}

h1 {
    padding-top: 50px;
}

p {
    padding-bottom: 85px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card1 {
    background:  rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    height: 400px;
    width: 300px;
    overflow: hidden;
    position: relative;
}

.card1:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.card1 img{
    height: 180px;
    width: 80%;
    padding-top: 30px;
    object-fit: contain;
    overflow-y: hidden;
}

.card1 button{
    width: 85%;
    height: 1.5cm;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #adbc9f;
    font-size: large;
    font-weight: bold;
}

.card1 button:hover {
    cursor: pointer;
    /* transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25); */
}

.card2 {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    padding: 20px;
    height: 380px;
    width: 300px;
}

.card2:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.card2 img{
    height: 200px;
    width: 90%;
    padding-top: 20px;
    object-fit: contain;
    overflow-y: hidden;
}

.card2 button{
    width: 85%;
    height: 1.5cm;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #adbc9f;
    font-size: large;
    font-weight: bold;
}

.card2 button:hover {
    cursor: pointer;
    /* transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25); */
}

.card3 {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    height: 400px;
    width: 300px;
}

.card3:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.card3 img{
    height: 200px;
    width: 80%;
    padding-top: 20px;
    object-fit: contain;
    overflow-y: hidden;
}

.card3 h2 {
    padding-bottom: 18px;
}

.card3 button{
    width: 85%;
    height: 1.5cm;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 10px;
    border: none;
    background-color: #adbc9f;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;
}

.card3 button:hover {
    cursor: pointer;
    /* transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25); */
}